<?xml version="1.0" ?>
<launch>

│   <!-- Hand-eye calibration -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster" args="0.0423957 -0.0259243 0.0602842 -0.0148547 -0.0107948 0.388123 0.921425 panda_link8 camera_color_optical_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="hand_eye_broadcaster" args="0.00133531 -0.06817037  0.06018449 -0.01380638 -0.01157692 0.38843146 0.92130145 panda_link8 camera_depth_optical_frame" />

</launch>